In [1]:
import pandas as pd

In [29]:
file_path = "../Resources/park_visitation.csv"
park_visitation_df = pd.read_csv(file_path)
park_visitation_df.head()

,Created By,Measure Selector,Year,Date Edit,ScrapeURL,GIS Notes,Gnis Id,Geometry,Metadata,Number of Records,Parkname,Region,State,Unit Code,Unit Name,Unit Type,Visitors,YearRaw
0,Legacy,1,1/1/1904 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1163670,POLYGON,NaN,1,Crater Lake,PW,OR,CRLA,Crater Lake National Park,National Park,1500.0,1904
1,Legacy,1,1/1/1941 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1531834,MULTIPOLYGON,NaN,1,Lake Roosevelt,PW,WA,LARO,Lake Roosevelt National Recreation Area,National Recreation Area,0.0,1941
2,Legacy,1,1/1/1961 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,2055170,MULTIPOLYGON,NaN,1,Lewis and Clark,PW,WA,LEWI,Lewis and Clark National Historical Park,National Historical Park,69000.0,1961
3,Legacy,1,1/1/1935 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1530459,MULTIPOLYGON,NaN,1,Olympic,PW,WA,OLYM,Olympic National Park,National Park,2200.0,1935
4,Legacy,1,1/1/1982 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact denise_kamradt@nps.gov for add...,277263,POLYGON,NaN,1,Santa Monica Mountains,PW,CA,SAMO,Santa Monica Mountains National Recreation Area,National Recreation Area,468144.0,1982

In [30]:
park_visitation_df['YearRaw'].unique()

array(['1904', '1941', '1961', '1935', '1982', '1919', '1969', '1967',
       '1944', '1989', '1988', '1993', '1955', '1976', '1980', '1934',
       '1951', '1925', '1948', '1931', '1940', '1971', '1979', '2011',
       '2004', '1968', '1984', '1987', '1985', '1973', '1936', '1992',
       '1920', '1991', '1957', '1964', '1937', '1966', '1974', '1995',
       '1962', '1929', '1997', '1950', '1942', '1956', '1972', '1970',
       '2000', '1933', '1924', '1921', '2010', '1978', '1975', '1906',
       '1996', '2003', '2006', '1947', '2002', '1908', '1965', '1939',
       '1960', '1938', '1963', '2001', '1954', '1958', '2013', '1981',
       '1952', '1923', '1983', '2016', '1998', '2007', '2015', '1915',
       '1911', '1917', 'Total', '1930', '1932', '1922', '1926', '1986',
       '1990', '2014', '1994', '2012', '1977', '2009', '2008', '2005',
       '1999', '1959', '1946', '1945', '1953', '1943', '1949', '1928',
       '1927', '1918', '1916', '1914', '1913', '1912', '1910', '1909',
       '1905', '1907'], dtype=object)

In [33]:
new_park_visitation = park_visitation_df.loc[park_visitation_df['YearRaw'] == '2016']
new_park_visitation.head()

,Created By,Measure Selector,Year,Date Edit,ScrapeURL,GIS Notes,Gnis Id,Geometry,Metadata,Number of Records,Parkname,Region,State,Unit Code,Unit Name,Unit Type,Visitors,YearRaw
194,Lands,1,1/1/2016 12:00:00 AM,6/21/2011,https://irma.nps.gov/Stats/SSRSReports/Park%20...,Lands - http://landsnet.nps.gov/tractsnet/docu...,1888937,MULTIPOLYGON,http://nrdata.nps.gov/programs/Lands/KEWE_meta...,1,Keweenaw,MW,MI,KEWE,Keweenaw National Historical Park,National Historical Park,14612.0,2016
293,Lands,1,1/1/2016 12:00:00 AM,5/11/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,Lands - http://landsnet.nps.gov/tractsnet/docu...,2053533,MULTIPOLYGON,http://nrdata.nps.gov/programs/Lands/PAGR_META...,1,Paterson Great Falls,NE,NJ,PAGR,Paterson Great Falls National Historical Park,National Historical Park,177498.0,2016
314,Lands,1,1/1/2016 12:00:00 AM,3/16/2016,https://irma.nps.gov/Stats/SSRSReports/Park%20...,Lands - http://landsnet.nps.gov/tractsnet/docu...,2775864,MULTIPOLYGON,http://nrdata.nps.gov/programs/Lands/mapr_META...,1,Manhattan Project,IM,NM,MAPR,Manhattan Project National Historical Park,National Historical Park,104715.0,2016
371,Lands,1,1/1/2016 12:00:00 AM,9/13/2016,https://irma.nps.gov/Stats/SSRSReports/Park%20...,Lands - http://landsnet.nps.gov/tractsnet/docu...,need ID,POLYGON,http://nrdata.nps.gov/programs/Lands/BEPA_meta...,1,Belmont-Paul Women's Equality,NC,DC,BEPA,Belmont-Paul Women's Equality National Monument,National Monument,2704.0,2016
768,Legacy,1,1/1/2016 12:00:00 AM,4/22/2015,https://irma.nps.gov/Stats/SSRSReports/Park%20...,LEGACY: contact allen_mccoy@nps.gov for additi...,1163670,POLYGON,NaN,1,Crater Lake,PW,OR,CRLA,Crater Lake National Park,National Park,756344.0,2016

In [34]:
new_park_visitation.describe()

       Measure Selector  Number of Records      Visitors
count             379.0              379.0  3.790000e+02
mean                1.0                1.0  8.667109e+05
std                 0.0                0.0  1.841046e+06
min                 1.0                1.0  0.000000e+00
25%                 1.0                1.0  5.412550e+04
50%                 1.0                1.0  1.984780e+05
75%                 1.0                1.0  7.662810e+05
max                 1.0                1.0  1.563878e+07

In [35]:
park_visits_df = new_park_visitation[['YearRaw', 'Parkname', 'Region', 'State', 'Unit Code', 'Unit Name', 'Unit Type', 'Visitors']].copy()
park_visits_df.head()

,YearRaw,Parkname,Region,State,Unit Code,Unit Name,Unit Type,Visitors
194,2016,Keweenaw,MW,MI,KEWE,Keweenaw National Historical Park,National Historical Park,14612.0
293,2016,Paterson Great Falls,NE,NJ,PAGR,Paterson Great Falls National Historical Park,National Historical Park,177498.0
314,2016,Manhattan Project,IM,NM,MAPR,Manhattan Project National Historical Park,National Historical Park,104715.0
371,2016,Belmont-Paul Women's Equality,NC,DC,BEPA,Belmont-Paul Women's Equality National Monument,National Monument,2704.0
768,2016,Crater Lake,PW,OR,CRLA,Crater Lake National Park,National Park,756344.0

In [44]:
clean_df = park_visits_df.replace({
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
})
clean_df.head()

,YearRaw,Parkname,Region,State,Unit Code,Unit Name,Unit Type,Visitors
194,2016,Keweenaw,MW,Michigan,KEWE,Keweenaw National Historical Park,National Historical Park,14612.0
293,2016,Paterson Great Falls,Nebraska,New Jersey,PAGR,Paterson Great Falls National Historical Park,National Historical Park,177498.0
314,2016,Manhattan Project,IM,New Mexico,MAPR,Manhattan Project National Historical Park,National Historical Park,104715.0
371,2016,Belmont-Paul Women's Equality,North Carolina,DC,BEPA,Belmont-Paul Women's Equality National Monument,National Monument,2704.0
768,2016,Crater Lake,PW,Oregon,CRLA,Crater Lake National Park,National Park,756344.0